/* Countdown */
.countdown-container {
  width: 20vw;
  font-family: "Roboto Mono";
  text-align: center;
}

.countdown-title {
  font-size: 18px;
  position: absolute;
  top: 30%;
  left: calc(50% - 64px);
}

.countdown-number {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 36px;
  width: 100px;
  padding: 20px 10px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: calc(50% - 60px);
  span {
    font-size: 14px;
  }
}
