/* Weather */
.weather {
  width: 20vw; /*TODO change later */
  background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.element {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.st1 {
  fill: none;
  stroke: #FFFFFF;
  strokeWidth: 2;
  strokeMiterlimit: 10;
}

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B}
